@import "variables";

.product-details {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 50px 0;
  position: relative;

  mat-card {
    padding: 30px;
    width: fit-content;
    margin: 0 auto;
  }

  &-wrapper {
    display: flex;
  }

  &-image {
    max-width: 250px;
    margin-right: 40px;
    img {
      width: 100%;
    }
  }

  &-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1 1 auto;
  }

  &-header {
    display: flex;
    justify-content: space-between;
    font-size: 28px;
    font-weight: bold;
    line-height: 32px;
  }

  &-counter {
    align-self: flex-end;
  }

  &-price {
    color: $light-blue;
  }

  &-description {
    font-size: 22px;
    line-height: 26px;
    margin: 15px 0;
  }

  @media (max-width: 768px) {
    mat-card {
      padding: 20px;
      max-width: 270px;
    }

    &-wrapper {
      flex-direction: column;
      align-items: center;
    }

    &-image {
      margin-right: 0;
      margin-bottom: 20px;
      max-width: 225px;
    }

    &-header {
      font-size: 18px;
      line-height: 28px;
    }

    &-description {
      font-size: 14px;
      line-height: 22px;
      margin: 5px 0;
    }

    &-counter {
      align-self: auto;
    }
  }
}

.back {
  position: absolute;
  top: 20px;
  left: 10%;
  color: #fff;
  cursor: pointer;

  mat-icon {
    width: 35px;
    height: 35px;
    font-size: 35px;
  }
}
